

<div class="archives-container">

    <% site.categories.forEach(function(cate) { %>
      <h2 class="year">
        <a href="<%- url_for(cate.name) %>">
        <% if (cate.name === 'yeshuang') { %>
          叶双的文章
        <% } else if (cate.name === 'fengmin') { %>
          冯敏的文章
        <% } else if (cate.name === 'wangyeqing') { %>
          王叶青的文章
        <% } else if (cate.name === 'huyingqian') { %>
          胡盈芊的文章
        <% } else { %>
          文章
        <% } %>
        </a>
      </h2>
      <% site.posts.sort('date').reverse().forEach(function(post) { %>
        <% if (is_hide(post) === false && post.categories && post.categories.length > 0) { %>

        <% post.categories.forEach(category => { %>
        <a href="<%- url_for(category.path) %>" class="post-category">
            <% if (category.name === cate.name) { %>
                <article class="post">
                  <a href="<%= url_for(post.path) %>">
                    <h2 class="post-title">
                      <%= post.title %>
                      <small style="color: gray;"><%= date(post.date, config.date_format) %></small>
                    </h2>
                  </a>
                </article>
            <% } %>
        </a>
        <% }); %>


      <% } %>
    <% }); %>
    <% }); %>
  </div>
