<%- include('./includes/header') %>

<div class="content-container">
    <% site.posts.sort('date').reverse().forEach((post) => { %>
        <% if (is_hide(post) === false && post.author === page.title) { %>
            <section class="post-item">
                <div class="content">
                  <a href="<%- url_for(post.path) %>">
                    <h2 class="post-title"><%= post.title %></h2>
                  </a>
                  <a href="<%- url_for(post.path) %>">
                      <div class="post-abstract">
                        <% if (post.summary && post.summary.length > 0) { %>
                            <%- post.summary %>
                        <% } else if (post.content && post.content.length > 0) { %>
                            <%- strip_html(post.content).substring(0, 120) %>
                        <% } else if (post.excerpt && post.excerpt.length > 0) { %>
                            <%- strip_html(post.excerpt).substring(0, 120) %>
                        <% } %>
                      </div>
                  </a>
                  <div class="post-info">
                    <% if (post.author === 'yeshuang') { %>
                      叶双
                    <% } else if (post.author === 'fengmin') { %>
                      冯敏
                    <% } else if (post.author === 'wangyeqing') { %>
                      王叶青
                    <% } else { %>
                      无名
                    <% } %>
                    <span><i class="icon icon-calendar-outline"></i> <%= date(post.date, config.date_format) %></span>
                    <% if (post.tags && post.tags.length > 0) { %>
                      <span>
                        <i class="icon icon-pricetags-outline"></i>
                        <% post.tags.forEach(function(tag, index) { %>

                            <%= tag.name %>
                            <% if (index !== post.tags.length - 1) { %>
                              ，
                            <% } %>
                        <% }); %>
                      </span>
                    <% } %>
                  </div>
                </div>
              </section>
            <% } %>
            <% }); %>
</div>

<%- include('./includes/footer') %>
